gitdoc/
doc/*
doc/.DS_Store
pkg/*
pkg/.DS_Store
Private/
.autotest
.yardoc
.yard
History.txt
.DS_Store
lib/.DS_Store
test/.DS_Store
test/conf/*
test/conf/.DS_Store
test/test_data/
test/penguin/
test/figshare_id_by_upi.rb
